{% extends 'base.html' %}

{% block title %} {{ super() }} | Profile {% endblock %}

{% block content %}
    <section class="profile">
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="section-title">
                        <h4>Profile</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="btn__all">
                        <a href="{{ url_for('logout') }}" class="primary-btn">Log Out
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="user-info">
                <p style="color: white;">Username: <span style="color: #e53637;">{{ session['username'] }}</span></p>
                <p style="color: white;">Mail: <span style="color: #e53637;">{{ session['mail'] }}</span></p>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}  {% endblock %}
